
  .btn {
    font-size: 16px;
    position: relative;
    border-radius: $radius;
    display: flex;
    align-items: center;
    padding: 0 15px;
    svg {
      margin-left: 8px;
    }

    @media screen and (max-width: 580px) {
      width: 100%;
      padding: 15px;
      font-size: 14px;
      line-height: 1.3em;
    }
  }
  

.shadow-btn {
  box-shadow: 0px 20px 40px rgba(241, 71, 40, 0.5);
}

.btn-size_default {
  @include btn(100%, 36px);
}

.btn-size_s {
    @include btn(228px, 48px);
    font-size: 14px;
}

.btn-size_m {
    @include btn(256px, 48px);
    font-size: 1rem;
}

.btn-size_l {
    @include btn(350px, 80px);
    font-size: 1.5rem;
}

.btn-size_full {
  @include btn(100%, 40px);
}

  

  
  /* Default btn */

  .btn-blue {
    @include button-bg($blue_btn, $white);
    &:hover {
        background: $purple_btn;
      }
      &:active {
        background: #15346a;
      }
  }

  .btn-orange {
    @include button-bg($orange, $white);
    box-shadow: 0px 10px 20px rgba(246, 139, 31, 0.5);
    &:hover {
      background: #F9AD62;
    }
    &:active {
      background: #D56F09;
    }
  }

  .btn-green {
    @include button-bg($green, $white);
    &:hover {
        background: #165e25;
      }
      &:active {
        background: #10461b;
      }
  }

  .btn-purple {
    @include button-bg($purple_btn, $white);
    &:hover {
        background: $black2;
      }
      &:active {
        background: #10461b;
      }
  }

  .btn-buy {
    @include button-bg($blue_btn, $white);
    &:hover {
        background: $black2;
      }
      &:active {
        background: $blue;
      }
  }

  .btn-transparent {
    @include button-bg(transparent, $black2);
    &:hover {
        background: transparent;
        color: $purple2;
    }
    &:after {
      display: none;
    }
  }

  .btn-anthracite {
    @include button-bg(red, $white);
    &:hover {
        background: #222121;
      }
      &:active {
        background: #141414;
      }
  }


  /* Default btn  END*/

  /* Transparent btn */

    .btn-transparent_blue {
        @include button-outline(transparent, $black2, 1px solid $black2);
        &:hover {
            background: $black2;
            color: $white;
            svg path {
                fill: $white;
            }
        }
        &:active {
            background: $blue;
            border-color: $blue;
        }
        &:after {
            display: none;
        }
    }

    .btn-transparent_purple {
        @include button-outline(transparent, $purple2, 1px solid $purple2);
        &:hover {
            background: $purple2;
            color: $white;
            svg path {
                fill: $white;
            }
        }
        &:active {
            background: $blue;
            border-color: $blue;
        }
        &:after {
            display: none;
        }
    }


  .btn-transparent_orange {
    @include button-outline(transparent, $orange, 1px solid $orange);
    &:hover {
      background: $orange;
      color: $white;
    }
    &:active {
      background: #0E3882;
    }
  }

  .btn-transparent_green {
    @include button-outline(transparent, $green, 1px solid $green);
    &:hover {
      background: $green;
      color: $white;
    }
    &:active {
      background: #0E3882;
    }
  }

  .btn-transparent_anthracite {
    @include button-outline(transparent, red, 1px solid red);
    &:hover {
      background: red;
      color: $white;
    }
    &:active {
      background: #0E3882;
    }
  }

  /* Transparent btn  END*/

  /* links */

.link--blue {
    @include link($blue, $blue);
}

.link--white {
  @include link($white, $blue);
}

.link--black {
  @include link (#000, $blue);
}

.link--hevered {
  @include link (#000, $blue);
}

.default_link_hover {
    @include link_hover($blue, $white);
    padding: 5px 10px;
}

.link_hover_border {
    @include link_hover_bot_border($blue, 1px solid $blue);
}


  /* end links */



  