.new-products {
    padding: 32px 0 48px;
    background-color: #f1f1f1;
    @media screen and (min-width: $screen-md){
        padding: 80px 0;
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__block-img {
        /*border-radius: $radius;*/
        overflow: hidden;
        width: 100%;
        picture {
            display: flex;
            width: 100%;
            height: 190px;
            object-fit: cover;
            img {
                width: 100%;
                height: 190px;
                object-fit: cover;
            }
        }
    }

    &__list {
        margin-top: 45px;
    }

    &__content {
        padding: 13px 0px 30px;
        @media screen and (min-width: $screen-md) { 
            padding: 24px 13px 30px;
        }
    }

    a:hover {
        background-size: 0 1px;
    }

    &__date {
        color: $gray;
        display: flex;
        align-items: center;
    }

    &__title {
        margin-top: 16px;
        max-width: 300px;
        font-weight: bold;
        color: $black2;
    }

    &__icon {
        margin-right: 10px;
        fill: $gray;
    }

    &__btn {
        margin-top: 15px;
        @media screen and (min-width: $screen-md) { 
            margin-top: 30px;
        }
    }

    &__item {
        display: flex;
        align-items: stretch;
    }
    &__link {
        width: 100%;
    }

    .card {
        margin-bottom: 0;
    }
    .owl-stage {
        display: flex;
        flex-wrap: wrap;
        .owl-item {
            display: flex;
            align-items: stretch;
        }
    }
}