/*Пример @include border-radius(6px, 6px, 6px, 6px);*/
/* border-radius */

@mixin border-radius($topLeft, $topRight, $bottomRight, $bottomLeft) {
    -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -ms-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -o-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  }
  
  /* END border-radius */
  
  
  /* Пример
      div::after {
      @include pseudo;
      top: -1rem; left: -1rem;
      width: 1rem; height: 1rem;
    }    */
  /* Before and After */
  
  @mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
  }
  
  /* END Before and After */